<div class="inputan text-center">
    <h3>Tambah Product</h3>
    <div class="container d-flex justify-content-center">
        <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Masukan Inputan</h5>

              <!-- msgnya -->
              <% if (msg.length != 0) { %>
                <div class="alert alert-info" role="alert">
                   <%= msg %>
                  </div>
              <% } %>

              <% if (typeof error != 'undefined') { %>
                <div class="alert alert-danger" role="alert">
                  <ul>
                      <% error.forEach(error => { %>
                          <li><%= error.msg %></li>
                      <% }) %>
                  </ul>
                </div>
              <% } %>

              <form action="/product" method="post">
                <div class="mb-3">
                  <label for="NamaProduct" class="form-label">NamaProduct</label>
                  <input type="text" class="form-control" name="NamaProduct" id="NamaProduct" required>      
                </div>
                <div class="mb-3">
                    <label for="JumlahProduct" class="form-label">JumlahProduct</label>
                    <input type="number" class="form-control" name="JumlahProduct" id="JumlahProduct" required>      
                  </div>
                  <div class="mb-3">
                    <label for="ImageProduct" class="form-label">ImageProduct</label>
                    <input type="text" class="form-control" name="ImageProduct" id="ImageProduct" required>  
                    <p>* Link</p>    
                  </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>

            </div>
          </div>
    </div>
</div>

<bR><br>
<div class="list-card">
    <div class="container">
        <h1>List Product</h1>
        <div class="card-list ">
          <% productData.forEach(productData=> { %>
            <div class="card" style="width: 18rem; margin-left: 10px;">
              <img src="<%= productData.ImageProduct %>" class="card-img-top" alt="foto">
              <div class="card-body">
                <h5 class="card-title"><%= productData.NamaProduct %></h5>
                <p class="card-text"><%= productData.JumlahProduct %></p>
                <form method="post" action="/product?_method=DELETE">
                  <input type="hidden" name="NamaProduct" value="<%= productData.NamaProduct %>">
                  <button type="submit" class="btn btn-danger" onclick="return confirm('yakin?')">Delete</button>
                </form>
                <BR>
                <a href="/product/update/<%= productData.NamaProduct %>" class="btn btn-success">Update</a>
              </div>
            </div>
          <% }) %>
        </div>
    </div>
</div>

