<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Tanggal</th>
        <th scope="col">Materi</th>
        <th scope="col">Project</th>
        <th scope="col">Upload</th>
        <th scope="col">Repeat</th>
        <!-- <th scope="col">Handle</th> -->
      </tr>
    </thead>
    <tbody>
        <% if (Time.length < 1 ) { %>
            <Tr>
                <td colspan="5">
                    <div class="alert alert-danger text-center" role="alert">
                      data masih kosong
                      </div>     
                </td>
            </Tr>
         <% } %>
        <% Time.forEach(Time => { %>
            <tr>
                <td><%= Time.FromTanggal %></td>
                <td><%= Time.Materi %></td>
                <td><%= Time.Project %></td>
                <td><%= Time.Upload %></td>
                <td><%= Time.Repeat%></td>          
            </tr>
            <tr>
                <td colspan="5" class="text-center">
                    <form method="post" action="/timetable?_method=DELETE">
                        <input type="hidden" name="_id" value="<%= Time._id %>">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('yakin?')"><i class="bi bi-x-octagon-fill"></i> Delete</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
  </table>